# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/
env/
ENV/
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/

# Flask
instance/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frontend
node_modules/